
<!-- Studies Start -->


<section id="{{ page.section-type }}-section" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          {{ page.content | markdownify }}

          <ul class="timeline">

            {% for study in site.studies %}
              {% assign loopindex = forloop.index | modulo: 2 %}
              {% capture class %}
              {% if loopindex == 0 %}
                timeline-inverted
              {% endif %}
              {% endcapture %}

              <li class="{{ class }}">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="{{site.baseurl}}{{ study.image }}" alt="">
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4>{{ study.date }}</h4>
                      </div>
                      <div class="timeline-body">
                          <strong>{{ study.title | markdownify }}</strong>
                          {{ study.description | markdownify }}
                      </div>
                  </div>
              </li>
            {% endfor %}

            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="{{site.baseurl}}{{ site.studies-img }}" alt="">
              </div>
            </li>
          </ul>
        </div>
    </div>
</section>

<!-- Studies End -->
